<!DOCTYPE html>
<html>
<head>
    <title></title>
    <!-- Angular -->
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js'></script> 
    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.min.js'></script>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

    <!-- Complited Materlize icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Leon -->
    <script src='angular.js'></script>
    <link rel="stylesheet" type="text/css" href="style.css">

</head>
<body ng-app='myApp'>

    <div class='container' ng-controller='myCtrl as myCtrl'>


        <!-- the Create box -->
        <div class='card deep-purple darken-1'>
            <div class='card-content white-text'>
              <span class="card-title">Create</span>
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="Walk the email" id="first_name2" type="text" class="validate"
                            ng-model='userNote'>
                    </div>
                    <button class="btn waves-effect waves-light" type="submit" name="action" 
                        ng-click='myCtrl.createDb(userNote)'>
                        Snooze
                        <i class="material-icons right">snooze</i>
                    </button>
              </div>
            </div>
        </div>


        <!-- the Incomplete box -->
        <div class='card deep-purple darken-2'>
            <div class='card-content white-text'>
                <span class="card-title">Incomplete</span>
                <a  class="waves-effect waves-light btn"
                    ng-repeat="i in myCtrl.incomplete"
                    ng-click='myCtrl.updateDB(i.id, i.complete)'
                    data = '{{i.id}}'>
                    {{i.phrase}}
                </a>
            </div>
        </div>



        <!-- the Complete box -->
        <div class='card deep-purple darken-3'>
            <div class='card-content white-text'>
                <span class="card-title">Complete</span>
                    <a  class="btn disabled"
                    ng-repeat="i in myCtrl.complete"
                    ng-click='myCtrl.updateDB(i.id, i.complete)'
                    data = "{{i.id}}">
                    {{i.phrase}}
                </a>
            </div>
        </div>

    </div>

</body>
</html>